@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Dosis:wght@700&family=Fjalla+One&family=Quicksand:wght@700&display=swap');

/* #252021,#FDD967,#F2EFD4,#9F9373,#C7B47C */

html {
    background-color: #364147;
    margin: 20px;
}

.title {
    font-family: 'Caveat', cursive;
    font-size: 70px;
    color: #d19232;
    text-shadow: 2px 3px 3px black;
    margin-bottom: -10px;
    margin-top: -10px;
    transition: 0.4s;
    text-decoration: none;
    white-space: nowrap;
}

.title:hover {
    color: yellow;
    text-shadow: 2px 2px 5px blueviolet;
}

.nav {
    font-size: 30px;
    color: rgb(154, 180, 39);
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 1px 5px black;
    text-decoration: none;
    margin-right: 50px;
    background-color: transparent;
    outline: none;
    transition: 0.5s;
    color: #a66300;
    text-decoration: none;
    position: relative;
    font-weight: bold;
    padding: 7px;
}

.nav:hover {
    transition: 0.5s;
    background-color: rgba(117, 89, 37, 0.8);
    border: 0px solid;
    border-radius: 15px;
}


.heading {
    color: #C7B47C;
    font-family: 'Quicksand';
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
}

.text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: normal;
    text-shadow: 1px 1px 2px red;
    background-color: rgba(0, 0, 0, .25);
    padding: 10px;
    border: 2px dotted rgba(0, 0, 0, .5);
    transition: 0.3s;
}

.text:hover {
    box-shadow: 2px 3px 5px white, -3px -3px 5px white;
    transition: 0.3s;
}

nav {
    text-align: center;
    background-color: #590600;
    padding: 20px 20px;
    margin: 0 -28px;
    border-bottom: 3px solid black;
    box-shadow: 1px 0 5px black;
}

.memberpic {
    width: 170px;
    margin-top: 20px;
    border: 3px solid #d19232;
    border-radius: 5px;
    box-shadow: 3px 6px 5px #533b16;
    transition: 0.6s;
}

.memberpic:hover {
    scale: 110%;
    transition: 0.6s;
    border: 3px solid #590600;
    border-radius: 5px;
    box-shadow: 3px 6px 5px #240301;
}

.text2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: normal;
    text-shadow: 1px 1px 2px red;
    background-color: rgba(0, 0, 0, .25);
    padding: 10px;
    border: 2px dotted rgba(0, 0, 0, .5);
    margin-left: 40px;
    transition: 0.3s;
}

.text2:hover {
    box-shadow: 2px 3px 5px white, -3px -3px 5px white;
    transition: 0.3s;
}

.heading2 {
    font-family: 'Quicksand';
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
    margin-left: 40px;
    color: #FDD967;
}

.albumdiv {
    display: inline-flex;
}

.albumname {
    margin-left: 30px;
}

.albumcovers {
    margin: 20px;
    width: 130px;
    height: 130px;
    border: 3px solid #d19232;
    border-radius: 5px;
    box-shadow: 3px 6px 5px #533b16;
    transition: 0.6s;
}

.albumcovers:hover {
    scale: 130%;
    transition: 0.6s;
    border: 3px solid #590600;
    border-radius: 5px;
    box-shadow: 3px 6px 5px #240301;

}

.albumlist {
    width: 400px;
    white-space: nowrap;
    background-color: #d19232;
    border: 2px solid #6b4c1d;
    border-radius: 5px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    transition: 0.5s;
}

.head:hover {
    scale: 110%;
    transition: 0.5s;
}

#logo {
    width: 200px;
}