@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Dosis:wght@700&family=Fjalla+One&family=Quicksand:wght@700&display=swap');

html {
    background-color: #4e4a4a;
    margin: 20px;
}

.title {
    font-family: 'Caveat', cursive;
    font-size: 70px;
    color: palevioletred;
    text-shadow: 2px 3px 3px black;
    margin-bottom: -10px;
    margin-top: -10px;
    transition: 0.4s;
    text-decoration: none;
    white-space: nowrap;
}

.title:hover {
    color: yellow;
    text-shadow: 2px 2px 5px blueviolet;
}

.nav {
    font-size: 30px;
    color: rgb(154, 180, 39);
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 1px 5px black;
    text-decoration: none;
    margin-right: 50px;
    background-color: transparent;
    outline: none;
    transition: ease-out 0.3s;
    color: white;
    text-decoration: none;
    position: relative;
    font-weight: bold;
}

.nav::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    box-shadow: 3px 3px 5px black;
}
  
.nav:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.heading {
    color: #e67919;
    font-family: 'Quicksand';
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
}

.text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: normal;
    text-shadow: 1px 1px 2px red;
    background-color: rgba(0, 0, 0, .25);
    padding: 10px;
    border: 2px dotted rgba(0, 0, 0, .5);
}

.navselector {
    text-align: center;
}

.memberpic {
    width: 170px;
    margin-top: 20px;
    box-shadow: 2px 2px 5px lightcoral;
}

.text2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: normal;
    text-shadow: 1px 1px 2px red;
    background-color: rgba(0, 0, 0, .25);
    padding: 10px;
    border: 2px dotted rgba(0, 0, 0, .5);
    margin-left: 40px;
}

.heading2 {
    font-family: 'Quicksand';
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
    margin-left: 40px;
    color: orange;
}

.albumdiv {
    display: inline-flex;
}

.albumname {
    margin-left: 30px;
}

.albumcovers {
    margin: 20px;
    width: 150px;
    height: 150px;
    border: 3px solid rgba(218, 18, 58, 0.84);
    border-radius: 5px;
    box-shadow: 3px 6px 5px rgba(218, 18, 58, 0.50);
    transition: 0.6s;
}

.albumcovers:hover {
    width: 200px;
    height: 200px;
    transition: 0.6s;
}

.albumlist {
    width: 400px;
    white-space: nowrap;
    background-color: rgba(218, 18, 58, 0.50);
    border: 2px solid rgba(218, 18, 58, 0.84);
    border-radius: 5px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#logo {
    width: 200px;
}